{% load static %}
 <main class="container" id="mainPage">

    <h1 class="text-center py-2" id="designation">Front-end Developer</h1>

    <p class="text-center" id="about">Producing high-quality websites and exceptional user experience </p>

    <div class="text-center py-4" id="avtarimg">
      <img class="img-fluid" src="{% static "img/mf-avatar.svg" %}" alt="avtar image">
    </div>
    <div class="text-center mt-4 pt-4" id="heroimg">
      <img src="{% static "img/hero.svg" %}" alt="hero image" class="img-fluid">
    </div>
  </main>
  <section class="container-fluid" id="details">
    <div id="description" class="text-white text-center col-12">
      <div class="">
        <h1>Hi, I’m Govardhan. Nice to meet you.</h1>
      </div>
      <div class="pt-3">
        I am from Hindupuram, A.P. I have excellent skill set on front end techonologies and developed various website
        designs and portfolio's websites for friends. Interested to learn the new skills in the developement and to face
        the new challenges which help to organization and myself.
      </div>
    </div>
  </section>
  <section class="container jumbotron text-center skills">
    <div class="row">
      <div class="col-lg-4 col-sm-12 col-md-6">
        <div><img src="{% static "img/frontend.svg" %}" alt="frontend"></div>
        <h2 class="mt-4">Front-end Developer</h2>
        <p>I like to code things from scratch, and enjoy bringing ideas to life in the browser.</p>
      </div>

      <div class="col-lg-4 col-sm-12 col-md-6">
        <p class="mycolor">Languages I speak:</p>
        <p>HTML, CSS, JavaScript</p>
        <div>
          <p class="mycolor">Libraries/FrameWorks</p>
          <p>jQuery</p>
          <p>Bootstrap</p>
          <p>Angular 2+</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-12 col-md-6">
        <p class="mycolor">Dev Tools</p>
        <p>Bitbucket</p>
        <p>Xampp</p>
        <p>Github</p>
        <p>Terminal</p>
        <p>Codepen</p>
        <p>Freecodecamp</p>
      </div>
    </div>
  </section>